body {
  font-family: geist;
  background: #f4f6f9;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.dashboard {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  flex: 1;
  border-radius: 8px;
  box-shadow: #000206;
}

.jobs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.tabs {
  margin: 15px 0;
}

.tab {
  padding: 8px 15px;
  margin-right: 5px;
  border: none;
  background: #e4e6eb;
  cursor: pointer;
  border-radius: 4px;
}

.tab.active {
  background: #1d4ed8;
  color: white;
}

.job-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: #000206;
  position: relative;
}

.job-card h3 {
  color: #1e3a8a;
  font-size: 18px;
  margin-bottom: 4px;
}

.job-card .position {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 8px;
}

.job-card .meta {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 10px;
}

.status {
  display: inline-block;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 4px;
  background: #e5e7eb;
  color: #374151;
  margin-bottom: 10px;
}

.status.interview {
  background: #dcfce7;
  color: #16a34a;
}

.status.rejected {
  background: #fee2e2;
  color: #dc2626;
}

.job-card p.description {
  font-size: 14px;
  color: #374151;
  margin-bottom: 12px;
}

.buttons {
  margin-top: 8px;
}

button.action {
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  background: white;
  border: 1px solid;
  margin-right: 8px;
}

.interview-btn {
  border-color: #22c55e;
  color: #16a34a;
}

.rejected-btn {
  border-color: #ef4444;
  color: #dc2626;
}

.delete-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: #f3f4f6;
  color: #6b7280;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.empty-state {
  background: white;
  border-radius: 14px;
  padding: 80px 20px;
  text-align: center;
  box-shadow: #000206;
  margin-top: 20px;
}

.empty-state img {
  width: 90px;
  margin-bottom: 20px;
}

.empty-state h3 {
  font-size: 22px;
  color: #1e3a8a;
  margin-bottom: 8px;
  font-weight: 600;
}

.empty-state p {
  font-size: 14px;
  color: #6b7280;
}



/* Responsive */
@media(max-width:768px) {
  .dashboard {
    flex-direction: column;
  }
}